@import "tailwindcss";

@theme {
  /* Font style */
  --font-primary: "Lilita One", "sans-serif";
  --font-secondary: "Winky Sans", "sans-serif";
  --font-heading: "Sarala", "sans-serif";

  /* Colors text */
  --color-text-primary: #abc7ff;
  --color-text-second: #e3e2e6;
  --color-text-p: #e3e2e6;
  --color-text-button: #002f65;
  /* Colors button */

  /* Colors backgroud */

  /* Colors ... */
  --color-primary: #262931;
  --color-bg-primary: #1a1b1f;

  /* Container */
  --container-width-sm: 640px;
  --container-width-md: 768px;
  --container-width-lg: 1024px;
  --container-width-xl: 1280px;
  --container-width-2xl: 1440px;
}
